body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.l {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
}

td {
  border: 1px solid grey;
  width: 100px;
  height: 30px;
  text-align: center;
}
